html{
    font-family: chelsea market, verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    margin:0;
    background-color:
}
footer{
    margin-top: auto;
}
nav{
    border-bottom: solid rgb(9, 19, 204);       
}
nav li{
    display: inline-block;
    padding: 60px 15px 0 15px;
    font-size: 20px;
    float: right; 
}
nav a{
    text-decoration: none;
}
nav a:hover{
    cursor: pointer;
    color:green;
    font-weight: bold;
    transition: 0.3s;
}
.nav_active{
    color:rgb(0, 0, 0);   
}
.nav_logo{
    color:green;
    float: left;
    padding: 20px;
    max-width: 40px;
    font-size: 25px;
}
main{
    margin-left: 40px;
    margin-right: 60px;
    align-items: center;  
}
.activities_item1,
.activities_item2,
.activities_item3{
    border:solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px
    background-repeat: no-repeat;
    background-size:cover;
    height: 20vh;
    width: 100%;
    color: white;
    opacity: 80%;
    border: solid black;
    font-size: 1.5vW;
}
.activities_item1{
    background-image: url(/img/andrew-ruiz-348421.jpg);
    margin-bottom: 30px;
    display: flex;
}
.activities_text1,
.activities_text2,
.activities_text3{
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 50%;
    margin-left: 50%;
    padding: 0px;
    color:black;
    text-align: center;
    font-weight: bold;
    border: solid black;
}
.activities_text2{
    margin-left: 0%;
}
.activities_item1,
.activities_item2,
.activities_item3{
    max-width: 100%;
    max-width: 100%;
}
.activities_item2{
    background-image: url(/img/jesse-orrico-60373.jpg);
    margin-bottom: 30px;
}
.activities_item3{
    background-image: url(/img/learn-2405206_1920.jpg);
    margin-bottom: 40px;
}





@media (min-width: 600px) {
    .activities_item1, .activities_item2,.activities_item3{
        height: 45vh;
    }
}



@media (min-width: 600px) {
    nav {
    display: block;
    position: static;
    }
    .menu-icon {
    display: none;
    }
    nav a {
        display: inline;
        
    } 
}
