html{
    font-family: chelsea market, verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    margin:0;
    background-color:

}

main{
    padding:20px;
}


#checkbox-menu:checked ~ nav{
    display: block;

}
#checkbox-menu, nav{
    display: none; 
}

.fa{
    padding:10px;
    
    
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    

}

nav a:hover{
    cursor: pointer;
    color:#3E9730;
    font-weight: bold;
    transition: 0.3s;
}

.nav_logo{
    display: none;
}
nav{
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    position: absolute;
    opacity: 88%;
    padding:20px 20px 50px 0; 
 
}

.nav_logo_mobile{
 text-align: center;
 text-decoration: none;
 color:#5BCA49; 
 padding: 10px;
 

}

.header{
    background-image: url(/img/heart-2607178_1920V2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px whitesmoke;
    padding:10vw; 
    border-top: solid #1465DD; 
}


.form__input{
    display: block;
    margin: 0.5rem;
}

form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#purchasebutton{
    background-color: black;
    color: white;
    padding:0.2rem;
    margin:0.5rem;
    cursor: pointer;
    font-family: chelsea market, sans-serif;
    display: block;
}

#purchasebutton:hover{
    background-color: rgb(23, 62, 62);
    transition: 0.3s;
    
}

input, textarea{
    padding:5px;
    
}

#checkbox_newsletter{
    margin:0.5rem;
    
    
}

#checkbox_newsletter:hover{
   cursor: pointer;
    
}

a{
    text-decoration: none;
    color: white;
}

.active{
    color: #5BCA49;
    text-decoration: none;
    display: block;
}

footer{
    margin: 20px;
    border-top:solid #1465DD;
}

@media only screen and (min-width: 600px){
   
    .menu-icon, .nav_logo_mobile{
        display:none;
    }
    nav{ 
        position: static;
        background-color: rgb(255, 255, 255);
        display: block;
    }
    nav a{
        color: rgb(0, 0, 0);
    }
    nav li{
        font-size: 2vw;
        float: right; 
        margin-top: 80px;
        list-style: none;
    }  
    nav a:hover, a:hover{
        cursor: pointer;
        color:#3E9730;
        font-weight: bold;
        transition: 0.3s;
    }
    .nav_logo{
        color:#5BCA49;
        float: left;
        max-width: 40px;
        font-size: 25px;
        display: block;
}
footer{
    margin: 20px;
    border-top:solid #1465DD;
}
}

